name = "prescio-staking"
main = "src/worker.ts"
compatibility_date = "2024-12-01"
compatibility_flags = ["nodejs_compat"]
workers_dev = true

routes = [{ pattern = "staking.prescio.fun", custom_domain = true }]

[assets]
directory = "./dist"
binding = "ASSETS"
not_found_handling = "single-page-application"
